* {
    box-sizing: border-box;
}
.row::after {
    content : "";
    clear: both;
    display: block;
}
.scritta{
    font-size: 200px;
}
body{
    background-color: #eeeeee;
    /*
    background-image: url("benessere-e-salute-e.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}
.header {
    background-color: green;
    color: white;
    padding: 15px;
}

[class*="col-"] {
    float: left;
    
}



.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
.line{
    width:75%;
    height:8px;
    background: #1eedf4;
    animation:line_grow 5s infinite ease-in-out;

    
  }
@keyframes line_grow{
    0%{width: 0%;}
    50%{width:100%;opacity: 1;}
    75%{width:100%;opacity: 0;}

    100%{width:0%;}
}
@keyframes rotate_effect{
    0%{transform: rotate(0deg); }
    20%{transform: rotate(0deg); }
    40%{transform: rotate(10deg); }
    60%{transform: rotate(-10deg); }
    80%{transform: rotate(0deg); }
    100%{transform: rotate(0deg); }
}

    

@media only screen and (min-width: 600px) {
    div.absolute {float: right;}
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  
    
  }
  @media only screen and (min-width: 788px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.button {
    border-radius: 4px;
    background-color: green;
    border:none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top:0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    animation: rotate_effect 5s infinite ease-in-out;
    background-color: #000;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
iframe{
    border-style: none;
}
html {
    font-family: "Lucida Sans", sans-serif;
  }