* {
    box-sizing: border-box;
}
.row::after {
    content : "";
    clear: both;
    display: block;
}
body{
    background-color: #eee;
    /*
    background-image: url("benessere-e-salute-e.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}
.header {
    background-color: #9933cc;
    color: white;
    padding: 15px;
}

[class*="col-"] {
    float: left;
    
}



.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

@media only screen and (min-width : 786px){
    /*per destop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-s-"] {
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    /* For tablets: */
    [class*="col-t-"] {
      width: 100%;
    }
  }

@media only screen and (min-width: 600px) {
    /* per tablet */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width:786px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
    }

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border:none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top:0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
iframe{
    border-style: none;
}
img {
  width: 100%;
  height: auto;
}